<!DOCTYPE html>  

<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>commit(ment) issues</title>  
    
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'js/javascript8.js' %}"></script>
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="{% static 'css/style8.css' %}" rel="stylesheet">
    
        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"     crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    
    </head>  
    
    
    <body>
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Don't forget to log out when you're done!</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Hey there! don't forget to log in!</a></p>
        {% endif %}

        
        <center>
            <div class="mb-5 mx-5 py-2 flex-center-col align-c">
                <br>
                <h1>Search the Book!</h1>
                <br>
                <h4>A book keeps you going, and going, and going. . .</h4>
                <form class="justify-content-md-center">
                    <div class="input-group mb-3">
                        <input id="input-search" type="text" class="form-control" placeholder="If you're confused on what to search, why not 'Hyoka'?" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button id="button-search" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                        </div>
                     </div>
                </form>
            </div>
            <h3>Here's what you found :</h3>
            <br>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 20%" scope="col">Title</th>
                    <th class="text-center" style="width: 20%" scope="col">Writer</th>
                    <th class="text-center" style="width: 20%" scope="col">Publisher</th>
                    <th class="text-center" style="width: 20%" scope="col">Category</th>
                    <th class="text-center" style="width: 20%" scope="col">Image</th>
                  </tr>
                </thead>

                <tbody id="results">

                </tbody>
              </table>

        </center>


    </body>  
</html>
