<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>commit(ment) issues</title>  
</head>  
    
<body>
    <form method="POST" action="">  
    {% csrf_token %}
        <center>
            <div>  
                <br> 
                <div>  
                    <label>Status :</label>  
                    <div>  
                        {{ form.status }}  
                    </div>  
                </div>    
                <div>  
                    <button type="submit">Is my Status!</button>  
                </div>  
            </div>  
        </center>
    </form>
    
    <div style="margin-top: 100px; text-align: center">
        <h1>"my recent status"</h1>
    </div>
    <div style="display: flex; justify-content: center;">
        <table align="center" style="align-self: center; width: 75%;">  
            <thead>   
                <tr>
                    <th>Status</th>  
                    <th>Date</th>   
                </tr>  
            </thead>  
            <tbody style="justify-content: center">  
                {% for status in status %}  
                <tr>  
                    <td>{{ status.status }}</td>  
                    <td>{{ status.date }}</td>  
                </tr>  
                {% endfor %}  
            </tbody>  
        </table>  
    </div>
<br>  
<br>   
</body>  
    
</html>
