body {
  margin: 3em;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
body.heejin {
  background: #ff0066;
  color: black;
}
body.hyunjin {
  background: yellow;
  color: black;
}
body.haseul {
  background: #009900;
  color: white;
}
body.yeojin {
  background: #ff8c1a;
  color: black;
}
body.vivi {
  background: #ffb3b3;
  color: black;
}
body.kimlip {
  background: red;
  color: black;
}
body.jinsoul {
  background: blue;
  color: black;
}
body.choerry {
  background: purple;
  color: white;
}
body.yves {
  background: #660033;
  color: white;
}
body.chuu {
  background: #ff9990;
  color: black;
}
body.gowon {
  background: #00cca3;
  color: black;
}
body.oliviahye {
  background: black;
  color: white;
}

h1 {
  line-height: 1.25;
  margin: 2em 0 0;
}
p {
  margin: .5em 0;
}

#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 30px;
  border: 3px solid black;
}

#heejinButton {
  background: #ff0066;
}
#hyunjinButton {
  background: yellow;
}
#haseulButton {
  background: #009900;
}
#yeojinButton {
  background: #ff8c1a;
}
#viviButton {
  background: #ffb3b3;
}
#kimlipButton {
  background: red;
}
#jinsoulButton {
  background: blue;
}
#choerryButton {
  background: purple;
}
#yvesButton {
  background: #660033;
}
#chuuButton {
  background: #ff9990;
}
#gowonButton {
  background: #00cca3;
}
#oliviahyeButton {
  background: black;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.img200{
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
    margin-bottom: 80px;
}
