<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>commit(ment) issues</title>  
    
        {% load static %}
        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"     crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </head>  
    
    
    <body>
        {% if user.is_authenticated %}
            <p>Hello {{ user.username }}. Let's Stan LOONA! together :D</p>
            <p><a href="{% url 'logout' %}">Don't forget to log out when you're done!</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Hey there! don't forget to log in!</a></p>
        {% endif %}

        <img src="{% static 'images/zakiy.jpg' %}" class="img-responsive img200">

        <button class="accordion">Activities</button>
        <div class="panel">
            <p style="color:black">Stanning LOONA *love*</p>
        </div>

        <button class="accordion">Affiliations</button>
        <div class="panel">
            <p style="color:black">Head of RnD Division ; DPM Fasilkom UI 2019</p>
            <br>
            <p style="color:black">Staff Secretary ; COMPFEST XI</p>
            <br>
            <p style="color:black">General Secretary ; Genesys VI 8 Senior High School Jakarta 2017</p>
        </div>

        <button class="accordion">Achievements</button>
        <div class="panel">
            <p style="color:black">Participating N-1 ; ABP Yogyakarta 2019</p>
            <br>
            <p style="color:black">Semifinalists, co-10th Best Speaker; @america Debate Competition 2017</p>
            <br>
            <p style="color:black">co-2nd Runner Up; National Schools Debating Championship 2017</p>
            <br>
            <p style="color:black">4th Place, co-4th Best Speakers; Jakarta Schools Debating Championship 2017</p>
            <br>
            <p style="color:black">3rd Place; TOC SIX MH Thamrin 2017</p>
            <br>
            <p style="color:black">1st Place; TESiS 8 Senior High School Jakarta 2017</p>
        </div>


        <div>
            <form method="POST" action="">  
                {% csrf_token %}
                <center>
                    <div>  
                        <br> 
                        <div>  
                            <label>Status :</label>  
                            <div>  
                                {{ form.status }}  
                            </div>  
                        </div>    
                        <div>  
                            <button type="submit">Is my Status!</button>  
                        </div>  
                    </div>  
                </center>
            </form>
    
            <div style="margin-top: 100px; text-align: center">
                <h1>"my recent status"</h1>
            </div>
            <div style="display: flex; justify-content: center;">
                <table align="center" style="align-self: center; width: 75%;">  
                    <thead>   
                        <tr>
                            <th>Status</th>  
                            <th>Date</th>   
                        </tr>  
                    </thead>  
                    <tbody style="justify-content: center">  
                        {% for status in status %}  
                        <tr>  
                            <td>{{ status.status }}</td>  
                            <td>{{ status.date }}</td>  
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table>  
            </div>
            <div style="margin-top: 100px;"></div>
        </div>
    
        <section class="py-5">
            <div class="container">
                <h3>connect with LOOΠΔVERSE</h3>
                <ul id="switcher" style="width: 50%; margin: auto;">
                    <li id="heejinButton" class="heejinwhite"></li>
                    <li id="hyunjinButton"></li>
                    <li id="haseulButton"></li>
                    <li id="yeojinButton"></li>
                    <li id="viviButton"></li>
                    <li id="kimlipButton"></li>
                    <li id="jinsoulButton"></li>
                    <li id="choerryButton"></li>
                    <li id="yvesButton"></li>
                    <li id="chuuButton"></li>
                    <li id="gowonButton"></li>
                    <li id="oliviahyeButton"></li>
                </ul>
            </div>
        </section>
        
        <script src="{% static 'js/javascript.js' %}"></script>
    </body>  
</html>
